// see: https://buefy.org/documentation/customization/
// variables: https://bulma.io/documentation/customize/variables/
// Import Bulma's core
@import '~bulma/sass/utilities/_all';

// Set your colors
$primary: #ff8c00;
$primary-invert: findColorInvert($primary);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  'primary': (
    $primary,
    $primary-invert,
  ),
  'dark': (
    $dark,
    $dark-invert,
  ),
  'info': (
    $info,
    $info-invert,
  ),
  'success': (
    $success,
    $success-invert,
  ),
  'warning': (
    $warning,
    $warning-invert,
  ),
  'danger': (
    $danger,
    $danger-invert,
  ),
  'beginner': (
    $cyan,
    findColorInvert($cyan),
  ),
  'basic': (
    $yellow,
    findColorInvert($yellow),
  ),
  'difficult': (
    $red,
    findColorInvert($red),
  ),
  'expert': (
    $green,
    findColorInvert($green),
  ),
  'challenge': (
    $purple,
    findColorInvert($purple),
  ),
);

// Links
$link: $info;
$link-invert: $info-invert;
$link-focus-border: $info;

.loading-icon {
  color: $green;
}

// Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';
