name: Site Cat LGTM

on:
  issue_comment:
    types: [created]
  pull_request_review:
    types: [submitted]

jobs:
  post:
    if: (!contains(github.actor, '[bot]'))
    runs-on: ubuntu-slim
    permissions:
      issues: write
      pull-requests: write

    steps:
      - uses: ddradar/lgtm-action@v4
        with:
          image-url: ${{ vars.LGTM_IMAGE_URI }}
          search-pattern: ${{ vars.LGTM_SEARCH_PATTERN }}
