name: Node.js CI/CD

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    name: Lint & Format Check
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Enable Corepack
        run: corepack enable
      - name: Use Node.js ${{ vars.NODE_VERSION }}
        uses: actions/setup-node@v6.2.0
        with: &setup-node-with
          node-version: ${{ vars.NODE_VERSION }}
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Run ESLint
        run: pnpm lint:eslint
      - name: Run Prettier
        run: pnpm lint:prettier
      - name: Run vue-tsc (via Nuxt)
        run: pnpm lint:typecheck

  test:
    name: Unit Test
    runs-on: ubuntu-latest
    permissions:
      id-token: write # to use OIDC
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Enable Corepack
        run: corepack enable
      - name: Use Node.js ${{ vars.NODE_VERSION }}
        uses: actions/setup-node@v6.2.0
        with: *setup-node-with

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Test
        run: pnpm test --coverage

      - name: Report Code Coverage to codecov
        uses: codecov/codecov-action@v5.5.2
        with:
          use_oidc: true

  build:
    name: Build and Deploy
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    environment:
      name: ${{ github.event_name == 'push' && 'production' || 'staging' }}
      url: ${{ github.event_name == 'push' && 'https://ddradar.app' || steps.deploy.outputs.deployment-url }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Enable Corepack
        run: corepack enable
      - name: Use Node.js ${{ vars.NODE_VERSION }}
        uses: actions/setup-node@v6.2.0
        with: *setup-node-with

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm build
        env:
          CLOUDFLARE_ENV: ${{ github.event_name == 'push' && 'production' || '' }}

      - name: Deploy to Cloudflare Workers
        id: deploy
        uses: cloudflare/wrangler-action@v3.14.1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: ${{ github.event_name == 'push' && 'deploy' || format('versions upload --tag pr-{0}', github.event.pull_request.number) }}
